<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Nineleaps
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/employees?type=table">Table View</a></li>
      <li><a href="/employees?type=tree">List View</a></li>
      <li><a href="/new">Create</a></li>
    </ul>
  </div>
</nav>
