<div class="container">
  <div class="row" style="margin: 20px 0;">
    <h4>
      Create New
    </h4>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-horizontal" method="POST" action="/employee">
            <div class="form-group ">
              <label for="name" class="col-sm-2 control-label">
                Name
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" required="required"  value=""  id="name" name="name" placeholder="Full Name ..."/>
              </div>
            </div>
            <div class="form-group ">
              <label for="designation" class="col-sm-2 control-label">
                Designation
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" required="required"  id="designation" name="designation"  value=""  placeholder="Designation ..."/>
              </div>
            </div>
            <div class="form-group ">
              <label for="reportingManager" class="col-sm-2 control-label">
                Manager
              </label>
              <div class="col-sm-10">
                <select required="required" id="reportingManager" name="reportingManager" class="form-control">
                  <option value="">
                    -- Select Reporting Manager --
                  </option>
                  <% for (i in employees) { %>
                      <option value="<%=employees[i].id%>">
                        <%=employees[i].name%>
                      </option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
                <br/>
                &nbsp;
                <br/>
                <small>
                  All fields are required.
                </small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
