<div class="container">
  <div class="row" style="margin: 20px 0;">
    <h4>
      Choose one:
    </h4>
  </div>
  <div>
    <a href="/employees?type=table"> Table View </a><br/>
    <a href="/employees?type=tree"> Tree View </a><br/>
    <a href="/new"> Add new </a><br/>
  </div>
</div>