<div class="container">
  <div class="row" style="margin: 20px 0;">
    <h4>
      Table View
    </h4>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>
              Emp Id
            </th>
            <th>
              Name
            </th>
            <th>
              Designation
            </th>
            <th>
              Manager
            </th>
          </tr>
        </thead>
        <tbody>
        	<% for(i in employees) { %>
	          	<tr>
		            <td>
		              	<%= employees[i].id %>
		            </td>
		            <td>
		              	<%= employees[i].name %>
		            </td>
		            <td>
			            <%= employees[i].designation %>
		            </td>
		            <td>
		            	<% if(employees[i].reportingManager) { %>
			              	<%= employees[i].reportingManager['name'] %>
			            <% } else { %>
			            	-
			            <% } %>
		            </td>
	          	</tr>
          	<% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
