<div class="container">
  <div class="row" style="margin: 20px 0;">
    <h4>
      Table View
    </h4>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div id="tree1"></div>
    </div>
  </div>
</div>
