/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-default {
    background-color: #28426d;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: black !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #28426d;
    color: black;
}

.footer>.container {
    padding: 20px;
}

.heading {
    height: 100px;
}

.driver-detail {
    margin-top: 50px;
}

.bucket-title {
    margin: 0 auto;
    text-align: center;
    border: 2px solid;
    padding: 10px 0;
}

.bucket-data {
    margin-top: 20px;
    border: 2px solid;
    padding: 20px 10px;
}

.request-card {
    border: 1px solid;
    height: auto;
    padding: 10px 0;
    margin: 5px 0;
}

.card-request-heading {
    margin: 10px;
    height: 30px;
}

.card-req-id {
    float: left;
}

.card-cust-id {
    float: right;
}

.card-request-details {
    text-align: center;
}

.card-select-button {
    text-align: center;
}

.btn-accept-request {
    margin: 20px;
    width: 60%;
}

.main-content {
    margin: 20px 0;
}

.request-form {
    margin: 50px 20px;
}

.btn-ride-now {
    width: 200px;
    margin: 30px;
}

.form-group {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.table-header {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.table-row {
    text-align: center;
}

td {
    text-align: center;
    padding: 10px 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}